
@{
    ViewData["Title"] = "UserH";
}

<div class="text-center">
    <h1 class="text-primary">
        User's Page
    </h1>

    <p class="text-justify">
        Duis ut dolor sea no sea consetetur in illum amet nibh at amet no nonumy sit et no autem nonummy ut sanctus possim congue rebum nonumy consequat dolores duis dolor rebum dolore aliquyam dolores nostrud delenit est esse eos ea invidunt consequat clita in sit hendrerit sit voluptua justo sit lobortis sed lorem dolor praesent no eirmod labore erat velit eum kasd diam consequat magna consequat clita diam dolore at sit diam volutpat lorem no takimata facilisis amet dolor eos no sea lorem justo no eos et diam justo duo facilisis et nisl ut sanctus vel nisl quod sed ipsum sed justo consetetur sadipscing amet volutpat in dolores iriure gubergren lorem sadipscing sed sanctus elit invidunt sanctus et sea takimata feugiat labore eros dolor dolores stet ut justo sadipscing labore sit invidunt dolores consetetur stet diam augue est justo sed nisl adipiscing ipsum at assum labore elitr consequat accusam et dolore vel kasd et at gubergren te ea iriure tempor et clita vero no sadipscing erat voluptua dolor dolore vulputate in vero dolor et eos sit ea sit no et accusam sit dolore eos duo sit ipsum sit invidunt lorem ipsum lorem feugiat eu voluptua labore exerci amet et no
    </p>
</div>

